.profileImage{
    width:200px;
    height:200px;
    border:1px dotted gray;
    border-radius:100%;
    object-fit:cover;
    margin-left: 23%;
}
.profileImageAddIcon{
    width: 40px;
    height: 40px;
    position: absolute;
    margin-left: -52px;
    border-radius: 100%;
    margin-top: 151px;
}

.signUpCard{
    width: 100%;
}
.signUpCardContainer{
    width: 83%;
    box-shadow: 1px 1px 7px grey;
    padding: 17px;
    margin-top: 28%;
    transition-duration: 1s;
}
.signUpCardContainer:hover{
    background: lightgray;
}
.signUpCardText{
    margin-left: 38px;
    font-size: 19px;
}
.formbox{
    padding-left: 92px;
    box-shadow: 1px 1px 20px grey;
    margin-top: 19px;
    margin-bottom: 19px;
    padding-top: 5px;
    padding-bottom: 13px;
}
.headingText{
    font-size: 26px;
    margin-left: 8vw;
    color: dimgrey;
}